@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(241, 245, 241);
}

/* In styles.css or App.css */
.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    transition: border-color 0.3s;
  }
  
  .input-field:focus {
    border-color: #007bff;
    outline: none;
  }
  @keyframes slide-in {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Global styles for animations */
  .animate-slide-in {
    animation: slide-in 0.5s ease forwards;
  }